In [16]:
import pandas as pd
import numpy as np

cricket = pd.read_csv("cricket.csv",sep=",",encoding="ISO-8859-1",header = 0)
cricket

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20
1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15
2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20
3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.20,28,68,34
4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,CG Greenidge (WI),1975-1991,128,127,13,5134,133*,45.03,7908,64.92,11,31,3
75,Misbah-ul-Haq (PAK),2002-2015,162,149,31,5122,96*,43.40,6945,73.75,0,42,6
76,PD Collingwood (ENG),2001-2011,197,181,37,5092,120*,35.36,6614,76.98,5,26,7
77,A Symonds (AUS),1998-2009,198,161,33,5088,156,39.75,5504,92.44,6,30,15
78,Abdul Razzaq (Asia/PAK),1996-2011,265,228,57,5080,112,29.70,6252,81.25,3,23,14

In [20]:
player = cricket["Player"]
player = player.reset_index()
player

    index                       Player
0       0         SR Tendulkar (INDIA)
1       1  KC Sangakkara (Asia/ICC/SL)
2       2         RT Ponting (AUS/ICC)
3       3      ST Jayasuriya (Asia/SL)
4       4   DPMD Jayawardene (Asia/SL)
..    ...                          ...
74     74            CG Greenidge (WI)
75     75          Misbah-ul-Haq (PAK)
76     76         PD Collingwood (ENG)
77     77              A Symonds (AUS)
78     78      Abdul Razzaq (Asia/PAK)

[79 rows x 2 columns]